<div class="row">
  <div class="col-sm">

    <%= f.label "Имя" %>
    <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', :label => false, placeholder: 'Имя' %>

    <%= f.label "Фамилия" %>
    <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', placeholder: 'Фамилия' %>

    <%= f.label "Отчество" %>
    <%= f.text_field :patronymic, :class => 'form-control', placeholder: 'Отчество' %>

    <%= f.label "Дата рождения" %>
    <%= f.input :birth_date, as: :date, html5: true, :label => false, placeholder: 'Укажите дата рождение' %>

    <%= f.label "Телефон" %>
    <%= f.text_field :telephone, :class => 'form-control', :as => "number", placeholder: '79521457878'%>

    <%= f.label "Адрес" %>
    <%= f.text_field :address, :class => 'form-control', placeholder: 'Адрес' %>

    <%= f.label "Биография" %>
    <%= f.input :description, :class => 'form-control', :label => false, placeholder: 'Напишите кратко о себе' %>

    <%= f.label "Пол" %>
    <%= f.select :gender, [['Мужской', 'M'], ['Женский', 'F']], {include_blank: 'Выбрать пол'}, { :class => 'form-control', :"data-fv-field"=> "user[gender]",:"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Select a gender",  } %>
  </div>
  <div class="col-sm">

    <%= f.label "Место учебы" %>
    <%= f.input :study_place, :class => 'form-control', :label => false, placeholder: 'Введите название ВУЗа' %>
    <%= f.label "Учебный год" %>
    <%= f.input :course_year, :class => 'form-control', :label => false, placeholder: 'Введите ваш учебный год' %>
    <%= f.label "Ссылка на портфолио" %>
    <%= f.input :portfolio_url, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш портфолио' %>

    <div id="accordion">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Каръера
        </button>
        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Навыки
        </button>
        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Контакты
        </button>
        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Достижения
        </button>
      </p>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body modal-full">
          <%= f.label "Настоящая должность" %>
          <%= f.input :first_position, :class => 'form-control', :label => false, placeholder: 'Укажите настоящую должность' %>


          <%= f.label "Настоящее место работы" %>
          <%= f.input :first_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите настоящее место работы' %>


          <%= f.label "Период работы" %>
          <%= f.input :work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-Сейчас' %>

          <%= f.label "Предыдущая должность" %>
          <%= f.input :second_position, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущую должность' %>


          <%= f.label "Предыдущее место работы" %>
          <%= f.input :second_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущее место работы' %>


          <%= f.label "Период работы" %>
          <%= f.input :old_work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-10.12.2015' %>

          <%= f.label "Предыдущая должность" %>
          <%= f.input :third_position, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущую должность' %>


          <%= f.label "Предыдущий место работы" %>
          <%= f.input :third_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущий место работы' %>


          <%= f.label "Период работы" %>
          <%= f.input :last_work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-10.12.2015' %>          </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body modal-full">
          <%= f.label "Технические навыки" %>
          <%= f.input :technical_skills, :class => 'form-control', :label => false, placeholder: 'Программирование, Дизайн....' %>
          <%= f.label "Культурные навыки" %>
          <%= f.input :cultural_skills, :class => 'form-control', :label => false, placeholder: 'Полиглот, Историк....' %>
          <%= f.label "Научные навыки" %>
          <%= f.input :scientific_skills, :class => 'form-control', :label => false, placeholder: 'Писать научные статъти, Проведение исследований....' %>
          <%= f.label "Общие навыки" %>
          <%= f.input :general_skills, :class => 'form-control', :label => false, placeholder: 'Переговоры, Общительность....' %>
        </div>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body modal-full">
          <%= f.label "Вконтакте" %>
          <%= f.input :vk, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
          <%= f.label "Facebook" %>
          <%= f.input :facebook, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
          <%= f.label "Instagram" %>
          <%= f.input :instagram, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
        </div>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body modal-full">
          <%= f.label "Достижения" %>
          <%= f.input :achievements, :class => 'form-control', :label => false, placeholder: 'Напишите про своих достижений' %>
          <%= f.input :achievement_docs, :as => :hidden, :class => 'form-control', :label => false %>

          <label>Документы подтверждающие достижения</label>
          <div class="col-md-12 form-group" style="margin-top: 20px">

            <span class="btn btn-success fileinput-button" style="margin-left: 25%; margin-top: 20px;">
                <span>Загрузить</span>
              <%= f.file_field :workplace, accept: 'image/*', multipart: true, multiple: true,
                               data: { 'resource-name' => 'image' }, :style => '', :input_html => { :multiple => true } %>
            </span>
          </div>




        </div>
      </div>

    </div>

    <%= f.label "Интересы" %>
    <%= f.input :hobbies, :class => 'form-control', :label => false, placeholder: 'Напишите про своих достижений' %>

  </div>
  <div class="col-sm">
    <div class="col-md-12 form-group" style="margin-top: 20px">
        <h6 class="m-t-2 " style="margin-left: 18%" >
          <%= t("users.account.upload-profile-image") %>
        </h6>
        <div class="fileinput-image">
          <% if profile.image_url.nil? %>
            <img src="<%= image_path ("user-placeholder")%>" class="m-x-auto img-fluid img-circle" alt="avatar">
          <%else%>
            <img src="<%= profile.image_url %>" alt="avatar" width="300" height="300">
          <% end %>
        </div>
        <span class="btn btn-success fileinput-button" style="margin-left: 25%; margin-top: 20px;">
                <!-- Change based on action -->
          <% if profile.image_url.nil? %>
                    <span><%= t("users.account.upload-image") %></span>
                <% else %>
                    <span><%= t("users.account.change-image") %></span>
                <% end %>
          <%= f.file_field :image_url, accept: '*',
                           data: { 'resource-name' => 'image'}, :style => '' %>
        </span>
    </div>

  </div>
</div>



    
    

