<!-- Page Content -->
<% unless profile.nil? %>
<div class="modal modal-full" id="portfolioModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-full" role="document" style="height: 100%">
    <div class="modal-content modal-full" style="height: 100%">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalCenterTitle" >Создать Портфолио</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body " style="height: 100%">
        <%= simple_form_for(profile, :url => profile_new_path(profile),
                            :html => { :class => 'directFileUpload',
                                       :role => 'form'}) do |f| %>
          <%= render 'users/profiles/form', f: f, profile: profile %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрить</button>
            <%= f.submit  "Создать", :class => 'btn btn-primary '  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>