<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">
      <h1 class="text-center form-title"><%= t("users.vehicles.edit.title") %></h1>
      <%= render 'form' %>
    </div>
  </div>
</div>