<!-- Page Content -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t("users.sessions.new.title") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, :as => resource_name,
                          :url => session_path(resource_name),
                          :html => { :role => 'form', :class => 'custom-form'}) do |f| %>
          <div class="col-md-8 col-md-offset-2">
            <%= devise_error_messages! %>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <%= f.label t("users.sessions.new.login"), :required => false %>

            <%= f.text_field :login, :class => 'form-control',
                               :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a valid login.",
                               :autofocus => true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a password." %>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-2" >
            <div class="form-group">
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %> Запомнить меня
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <%= f.submit "Войти", :class => 'btn btn-primary ' %>
          </div>
      <% end %>
      </div>
      </div>
    </div>
  </div>
