<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h1>New Device</h1>

        <%= render 'form', device: @device %>

        <%= link_to 'Back', devices_path %>

    </div>
  </div>
</div>

