<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Speed:</strong>
        <%= @device.speed %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @device.longitude %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @device.latitude %>
      </p>

      <p>
        <strong>Accuracy:</strong>
        <%= @device.accuracy %>
      </p>

      <p>
        <strong>Heading:</strong>
        <%= @device.heading %>
      </p>

      <p>
        <strong>Altitude:</strong>
        <%= @device.altitude %>
      </p>

      <p>
        <strong>Altitudeaccuracy:</strong>
        <%= @device.altitudeAccuracy %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @device.user %>
      </p>

      <%= link_to 'Edit', edit_device_path(@device) %> |
      <%= link_to 'Back', devices_path %>

    </div>
  </div>
</div>
