
<% unless profile.achievement_docs.nil?%>
  <% @images = JSON.parse profile.achievement_docs %>
<% end %>
<%= simple_form_for(profile, :url => profile_update_path(profile), :method => "put",
                    :html => { :class => 'directFileUpload',
                               :role => 'form'}) do |f| %>  <div class="form-group">

  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Имя</label>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', :label => false, placeholder: 'Имя' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Фамилия</label>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', placeholder: 'Фамилия' %>
    </div>
  </div>


  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Отчество</label>
    <div class="col-sm-10">
      <%= f.text_field :patronymic, :class => 'form-control', placeholder: 'Отчество' %>
    </div>
  </div>

    <%= f.label "Дата рождения" %>
    <%= f.input :birth_date, as: :date, html5: true, :label => false, placeholder: 'Укажите дата рождение' %>



  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Телефон</label>
    <div class="col-sm-10">
      <%= f.text_field :telephone, :class => 'form-control', :as => "number", placeholder: '79521457878'%>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Адрес</label>
    <div class="col-sm-10">
      <%= f.text_field :address, :class => 'form-control', placeholder: 'Адрес' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">О себе</label>
    <div class="col-sm-10">
      <%= f.input :description, :class => 'form-control', :label => false, placeholder: 'Напишите кратко о себе' %>
    </div>
  </div>

  <%= f.select :gender, [['Мужской', 'M'], ['Женский', 'F']], {include_blank: 'Выбрать пол'}, { :class => 'form-control', :"data-fv-field"=> "user[gender]",:"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Select a gender",  } %>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#Career" aria-expanded="false" aria-controls="Career">Каръера</button>
  </div>

  <div class="collapse multi-collapse mb-3" id="Career">
    <%= f.label "Настоящая должность" %>
    <%= f.input :first_position, :class => 'form-control', :label => false, placeholder: 'Укажите настоящую должность' %>


    <%= f.label "Настоящее место работы" %>
    <%= f.input :first_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите настоящее место работы' %>


    <%= f.label "Период работы" %>
    <%= f.input :work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-Сейчас' %>

    <%= f.label "Предыдущая должность" %>
    <%= f.input :second_position, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущую должность' %>


    <%= f.label "Предыдущее место работы" %>
    <%= f.input :second_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущее место работы' %>


    <%= f.label "Период работы" %>
    <%= f.input :old_work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-10.12.2015' %>

    <%= f.label "Предыдущая должность" %>
    <%= f.input :third_position, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущую должность' %>


    <%= f.label "Предыдущий место работы" %>
    <%= f.input :third_workplace, :class => 'form-control', :label => false, placeholder: 'Укажите предыдущий место работы' %>


    <%= f.label "Период работы" %>
    <%= f.input :last_work_date, :class => 'form-control', :label => false, placeholder: '05.04.2012-10.12.2015' %>
  </div>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#Skills" aria-expanded="false" aria-controls="Skills">Навыки</button>
  </div>


  <div class="collapse multi-collapse mb-3" id="Skills">
    <%= f.label "Технические навыки" %>
    <%= f.input :technical_skills, :class => 'form-control', :label => false, placeholder: 'Программирование, Дизайн....' %>
    <%= f.label "Культурные навыки" %>
    <%= f.input :cultural_skills, :class => 'form-control', :label => false, placeholder: 'Полиглот, Историк....' %>
    <%= f.label "Научные навыки" %>
    <%= f.input :scientific_skills, :class => 'form-control', :label => false, placeholder: 'Писать научные статъти, Проведение исследований....' %>
    <%= f.label "Общие навыки" %>
    <%= f.input :general_skills, :class => 'form-control', :label => false, placeholder: 'Переговоры, Общительность....' %>
    <%= f.label "Интересы" %>
    <%= f.input :hobbies, :class => 'form-control', :label => false, placeholder: 'Напишите про своих интересах и хобби' %>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#Contacts" aria-expanded="false" aria-controls="Contacts">Контакты</button>
  </div>

  <div class="collapse multi-collapse mb-3" id="Contacts">
    <%= f.label "Вконтакте" %>
    <%= f.input :vk, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
    <%= f.label "Facebook" %>
    <%= f.input :facebook, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
    <%= f.label "Instagram" %>
    <%= f.input :instagram, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш учетный запись' %>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#Education" aria-expanded="false" aria-controls="Education">Образования</button>
  </div>
  <div class="collapse multi-collapse mb-3" id="Education">
    <%= f.label "Место учебы" %>
    <%= f.input :study_place, :class => 'form-control', :label => false, placeholder: 'Введите название ВУЗа' %>
    <%= f.label "Учебный год" %>
    <%= f.input :course_year, :class => 'form-control', :label => false, placeholder: 'Введите ваш учебный год' %>
    <%= f.label "Ссылка на портфолио" %>
    <%= f.input :portfolio_url, :class => 'form-control', :label => false, placeholder: 'Введите ссылку на ваш портфолио' %>
  </div>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#Achievement" aria-expanded="false" aria-controls="Achievement">Достижения</button>
  </div>

  <div class="collapse multi-collapse mb-3" id="Achievement">
    <%= f.label "Достижения" %>
    <%= f.input :achievements, :class => 'form-control', :label => false, placeholder: 'Напишите про своих достижений' %>
    <% unless profile.achievement_docs.nil?%>
      <% @images.each do |image|%>
        <div class="col-lg-4" style="float: left;">
          <div class="card">

            <img src="<%= image %>" class="card-img-top" alt="..." height="200" style="float: left;">

            <div class="card-footer">
              <small class="text-muted" style="font-weight: bold; color: #fff;"><%= profile.achievements %></small>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
    <%= f.input :achievement_docs, :as => :hidden, :class => 'form-control', :label => false, placeholder: 'Напишите про своих достижений' %>

    <label>Документы подтверждающие достижения</label>
    <div class="col-md-12 form-group" style="margin-top: 20px">

            <span class="btn btn-success fileinput-button" style="margin-left: 25%; margin-top: 20px;">
                <span>Загрузить</span>
              <%= f.file_field :workplace, accept: 'image/*', multipart: true, multiple: true,
                               data: { 'resource-name' => 'image' }, :style => '', :input_html => { :multiple => true } %>
            </span>
    </div>
  </div>

  <div class="col-md-12 form-group" style="margin-top: 20px">
    <div class="fileinput-image">
      <% unless profile.image_url.nil? %>
        <img src="<%= profile.image_url %>" style="width:250px; height:250px" >
      <% else %>
        <h5><%= t("global.no_image") %></h5>
      <% end %>
    </div>
    <span class="btn btn-success fileinput-button">
        <!-- Change based on action -->
      <% if  profile.image_url.nil? %>
          <span>
            <%= t("global.image") %>
          </span>
        <% else %>
          <span>
            <%= t("global.change_image") %>
          </span>
        <% end %>
      <%= f.file_field :image_url, accept: '*', data: { 'resource-name' => 'image'} %>
      </span>
  </div>

</div>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Сохранить", :class => 'btn btn-primary', :value => 'Save changes' %>
  </div>
<% end %>