<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow mt-2">
    <div class="card-body pt-4 pl-5 pr-5">
      <% if @profiles.empty? %>
        <h2 class="text-center" >У вас нет Портфолио!</h2>
        <p>Если вы хотите создать свое Портфолио, вам необходимо нажать на кнопку</p>
        <% if @current_user.profiles.ids.empty? %>
          <button class="btn btn-success" data-toggle="modal" data-target="#portfolioModalCenter"><i class="fa fa-bars"  >Создать Портфолио</i></button>
        <% end %>
      <% else %>
        <h2 class="text-center" >Мой Портфолио</h2>
        <% @profiles.each do |profile| %>
          <div class="row">

            <div class="col-md-12 order-md-2 ">
                <div class="card-body text-center">
                  <% if profile.image_url %>
                    <img src="<%= profile.image_url %>"  style="border-radius: 20%; width: 40%" class="card-img-top">
                  <% else %>
                    <img src="<%= image_path ("app.jpg") %>"  style="border-radius: 20%; width: 40%" class="card-img-top">
                  <% end %>
                </div>

                <div class="card-body">
                <h3 class="card-title text-center" style="font-size: 30px"><%= profile.first_name %> <%= profile.last_name %> <%= profile.patronymic %></h3>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#userEditForm" aria-expanded="false" aria-controls="userEditForm">Изменить Портфолио</button>
                </div>

                <div class="d-flex justify-content-center">
                  <%# User Account Edit Errors %>
                  <%= devise_error_messages! %>
                </div>

                <div class="collapse multi-collapse" id="userEditForm">
                  <div class="card card-body mt-3">
                    <%# User Account Edit Form %>
                    <%= render 'users/form', profile: profile %>
                  </div>
                </div>

              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: <strong style="float: right;"><%= profile.first_name %></strong></li>
                <li class="list-group-item">Фамилия: <strong style="float: right;"><%= profile.last_name %></strong></li>
                <li class="list-group-item">Почта: <strong style="float: right;"><%= @current_user.email %></strong></li>
                <li class="list-group-item">Факультет: <strong style="float: right;"><%= @faculty_name %></strong></li>
              </ul>

            </div>


          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
