<div class="container">
    <div class="row">
        <h3>Users</h3>
        <div class="column">
            <table class="table">
                <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <%= render user %>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
