<!-- Page Content -->
<div class="container fluid">
  <div class="card card-form border-0 shadow my-5">
    <div class="card-body">

            <div class="span12 text-center mb30">
                <h1>Change your password</h1>
                <h2 class="subTitle">Reset your password and confirm it. Make sure to keep it safe!</h2>
            </div>

            <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>

                <div class="col-md-8 col-md-offset-2">
                    <%= devise_error_messages! %>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <%= f.hidden_field :reset_password_token %>

                    <div class="form-group">
                        <%= f.label :password, 'New password', :required => false %>
                        <%= f.password_field :password, autofocus: true, autocomplete: 'off', :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a password.", :"minlength"=>"6",:"maxlength"=>"20",:"data-fv-stringlength-message"=>"For your security, the password must be between 6 - 20 characters long.", :pattern=> '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$',:"data-fv-regexp-message"=>"For your security, password must contain one Lower case char (a-z), Upper case char (A-Z) and a Digit (0-9).", :"data-fv-identical"=>"true", :"data-fv-identical-field"=>"user[password_confirmation]", :"data-fv-identical-message"=>"Your passwords do not match." %>

                        <br>

                        <%= f.label :password_confirmation, 'Confirm new password', :required => false %>
                        <%= f.password_field :password_confirmation, autocomplete: 'off', :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a password.", :"data-fv-identical"=>"true",:"data-fv-identical-field"=>"user[password]", :"data-fv-identical-message"=>"Your passwords do not match." %>
                    </div>

                    <%= f.submit 'Change My Password', :class => 'center-block btn btn-lg' %>
                </div>
            <% end %>

        </div>
    </div>
</div>