
<main class="main">
  <div class="container">
    <main class="page-content">

      <div class="glavnaya">
        <h1 class="title">Физико-математический факультет</h1>
      </div>
      <div class="page-content_left">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= image_path('img_1.jpg') %>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="<%= image_path('IMG_7465_web.jpg') %>" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="page-content_right">
        <p>Псковский государственный университет (ПсковГУ) — высшее учебное заведение в Пскове.

          Создан в 2010 году путём слияния двух высших учебных заведений (Псковский государственный педагогический университет им. С.М. Кирова, Псковский государственный политехнический институт) и трёх средних профессиональных учебных заведений (Псковский индустриальный

          техникум, Псковский колледж строительства и экономики и Великолукский строительный колледж.

          27 декабря 2010 года вышло Распоряжение Председателя Правительства России Владимира Путина № 2440-р от о создании Псковского государственного университета. Он должен быть открыт на базе пяти учебных заведений: Псковский государственный педагогический университет им. С.М. Кирова, Псковский государственный политехнический институт, Псковский индустриальный техникум, Псковский колледж строительства и экономики и Великолукский строительный колледж.

          7 апреля 2011 года вышел Приказ Министерства образования и науки РФ № 1465 от 7 апреля 2011 года "О создании федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Псковский государственный университет». Ректором формировавшегося Псковского государственного университета сроком на 1 год назначен заместитель губернатора Псковской области Юрий Анатольевич Демьяненко.

          14 октября 2011 года Псковский государственный университет (ПсковГУ) был внесен в реестр государственных учреждений. 14 октября теперь — день основания нового вуза, Псковского государственного университета.

          25 октября 2011 года состоялась торжественная церемония открытия ПсковГУ.

          В январе 2012 года руководители ряда факультетов Псковского государственного университета, ранее входивших в состав ПГПУ им. С.М. Кирова, обратились к губернатору Псковской области с открытым письмо, протестуя против политики нового руководства ПсковГУ, дискриминирующей, по их мнению, бывший Псковский государственный педагогический институт им. С. М. Кирова в пользу бывшего Псковского политехнического института.

          С 9 ноября 2018 года Марина Юрьевна Махотаева назначена временно исполняющим обязанности ректора ФГБОУ ВО «Псковский государственной университет».

          Справка по сайту:

          На левой части сайта расположены ссылки на портфолио студентов по их направлениям.
        </p>
      </div>
    </main>
  </div>
</main>
