<article class="page-content">
  <div class="glavnaya">
    <h1 class="title">Прикладная информатика</h1>
  </div>
  <% if @current_user.faculty == "P" && @current_user.profiles.ids.empty? %>
    <button class="btn btn-success" data-toggle="modal"
            data-target="#portfolioModalCenter"><i class="fa fa-bars">Создать Портфолио</i>
    </button>
  <% end %>
  <% unless @info_profiles.empty? %>
    <div class="row">
      <% @info_profiles.each do |profile| %>
        <div class="col-lg-4">
          <ul class="apps__list">
            <li class="apps__item">
              <!--<a href="" class="apps__link">-->
              <div class="apps__block">
                <div class="apps__pic">
                  <% if profile.image_url %>
                    <img src="<%= profile.image_url%>" alt="" class="apps__img">
                  <% else %>
                    <img src="<%= image_path('app.jpg') %>" alt="" class="apps__img">
                  <% end %>
              </div>
                <div class="apps__desc">
                  <div class="apps__title"><%= profile.first_name %> <%= profile.last_name %> <%= profile.patronymic %></div>
                  <div class="apps__subtitle">Прикладная информатика</div>
                  <div class="apps__type">
                    <i class="fak fa-gamepad" aria-hidden="true"></i>
                    <a href="#"  class="cd-btn cd-modal-trigger" data-toggle="modal" data-target="#portfolioModalCenter<%= profile.id %>">Посмотреть</a>
                  </div>
                </div>
              </div>
              <!--</a>-->
            </li>
          </ul>
        </div>
        <%# Document Card %>
        <%= render 'layouts/portfolio_show', profile: profile %>
      <% end %>
    </div>
  <% end %>
</article>