<footer class="footer">
  <!--<div class="container_style">-->
  <div class="container ">
    <div class="row">
      <div class="col-lg-6">
        <ul class="copyright">
          <li class="footer_psk">Псковский Государственный университет</li>
          <li class="footer_li">
            <i class="fas fa-globe-americas"></i>
            180000, Псков, пл. Ленина, дом 2.
          </li>
          <li class="footer_li">
            <i class="fas fa-phone-square"></i>
            Телефон: +7(8112) 29-70-01, Факс:+7(8112) 29-70-02
          </li>
          <li class="footer_li">
            <i class="fas fa-envelope"></i>
            Электронная почта: <a href="mail.ru/message">rector@pskgu.ru</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="copyright lef">
          <li class="footer_psk">Физико-математический факультет</li>
          <li class="footer_li">
            <i class="fas fa-globe-americas"></i>
            180000, Псков, пл. Ленина, дом 2.
            кабинет 102 (4 этаж)
          </li>
          <li class="footer_li">
            <i class="fas fa-phone-square"></i>
            Телефон: +7 (8112) 29-70-86
          </li>
          <li class="footer_li">
            <i class="fas fa-envelope"></i>
            Электронная почта: <a href="mail.ru/message"> fmf.pskgu.ru</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--</div>-->
</footer>