
  <!--<div class="container_style">-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="user">
          <div class="user_avatar">
            <a href="<%= root_path %>"><img src="<%= image_path('Pskovgu.png') %>" class="user__avatar_img" alt="logo"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="user_name">
          Физико-математический факультет
        </div>
      </div>
      <div class="col-lg-6">
        <div class="registr">
          <ul class="nav float-right">
            <% if @current_user.user? %>
              <li class="nav-item">
                <a class="nav-link nav_hover" href="<%= account_path %>" >Личный кабинет</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav_hover" href="<%= destroy_user_session_path %>">Выйти</a>
              </li>
              <% if @current_user.admin?%>
                <li class="nav-item">
                  <a class="nav-link nav_hover" href="<%= rails_admin_path %>">Админ</a>
                </li>
              <% end %>
            <% else %>
              <li class="nav-item">
                <a class="nav-link nav_hover" href="#" data-toggle="modal" data-target="#exampleModal">Войти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav_hover" href="#" data-toggle="modal" data-target="#exampleModalCenter">Регистрация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav_hover" href="#" data-toggle="modal" data-target="#langModal"><%= t("layouts.navigation.language")%></a>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->