
<% unless profile.achievement_docs.nil?%>
  <% @images = JSON.parse profile.achievement_docs %>
<% end %>
<div class="modal fade " id="portfolioModalCenter<%= profile.id%>"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-full"  role="document" style="height: 100%">
    <div class="modal-content modal-full" style="padding-bottom: 40px; height: 100%">
      <div class="modal-header" style="border-bottom: none">
        <h5 class="modal-title" id="exampleModalCenterTitle" style="margin-left: 10%"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">

        </button>
      </div>
      <div class="row" style="margin-left: 10%">
        <div class="col-lg-4">
          <% if profile.image_url.nil? %>
            <img src="<%= image_path('user-placeholder.jpg') %>" style='width:100%;' alt="" class="img_person rounded" width="500" height="500" >
          <% else %>
            <img src="<%= profile.image_url %>" alt="" class="img_person rounded" width="500" height="500">
          <% end %>
          <figcaption style="width:300px; text-align: center;  color:dodgerblue; font-weight: bold;"><%= profile.first_name %> <%= profile.last_name %> <%= profile.patronymic %></figcaption>
        </div>
        <div class="col-lg-8" style="margin-left: -80px;">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active " id="pills-home-tab<%= profile.id %>" data-toggle="pill" href="#pills-home<%= profile.id %>" role="tab" aria-controls="pills-home" aria-selected="true" style="color: #53ff1a">О Пользователе</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-education-tab<%= profile.id %>" data-toggle="pill" href="#pills-education<%= profile.id %>" role="tab" aria-controls="pills-profile" aria-selected="false" style="color: #53ff1a">Образования</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-profile-tab<%= profile.id %>" data-toggle="pill" href="#pills-profile<%= profile.id %>" role="tab" aria-controls="pills-profile" aria-selected="false" style="color: #53ff1a">Карьера</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-contact-tab<%= profile.id %>" data-toggle="pill" href="#pills-contact<%= profile.id %>" role="tab" aria-controls="pills-contact" aria-selected="false" style="color: #53ff1a">Контакты</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-hobby-tab<%= profile.id %>" data-toggle="pill" href="#pills-hobby<%= profile.id %>" role="tab" aria-controls="pills-hobby" aria-selected="false" style="color: #53ff1a">Интересы</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-navik-tab<%= profile.id %>" data-toggle="pill" href="#pills-navik<%= profile.id %>" role="tab" aria-controls="pills-navik" aria-selected="false" style="color: #53ff1a">Навыки</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="pills-dostig-tab<%= profile.id %>" data-toggle="pill" href="#pills-dostig<%= profile.id %>" role="tab" aria-controls="pills-dostig" aria-selected="false" style="color: #53ff1a">Достижения</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home<%= profile.id %>" role="tabpanel" aria-labelledby="pills-home-tab">
              <ul class="ul_ul">
                <li class="li_li">Имя: <%= profile.first_name %></li>
                <li class="li_li">Отчество: <%= profile.patronymic %></li>
                <li class="li_li">Фамилия: <%= profile.last_name %></li>
                <li class="li_li">Пол: <%= profile.gender %></li>
                <li class="li_li">Дата-рождения: <%= profile.birth_date.strftime("%d.%m.%Y") %></li>
                <li class="li_li">Адрес: <%= profile.address %></li>

              </ul>
              <div class="about_yourself">
                <div class="about_yourself_span">
                  <span>Немного о себе</span>
                </div>
                <div class="about_yourself_text">
                  <p><%= profile.description %></p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile<%= profile.id %>" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link badge badge-pill badge-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        должность настоящего время  #1
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul class="ul_ul" style="color: #333333;">
                        <li class="li_li">Должность: <%= profile.first_position %></li>
                        <li class="li_li">Огранизация: <%= profile.first_workplace %></li>
                        <li class="li_li">Годы: <%= profile.work_date %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed badge badge-pill badge-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        предудущый должность#2
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul class="ul_ul" style="color: #333333">
                        <li class="li_li">Должность: <%= profile.second_position %></li>
                        <li class="li_li">Огранизация: <%= profile.second_workplace %></li>
                        <li class="li_li">Годы: <%= profile.old_work_date %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed badge badge-pill badge-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        предудущий должность #3
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul class="ul_ul" style="color: #333333">
                        <li class="li_li">Должность: <%= profile.third_position %></li>
                        <li class="li_li">Огранизация: <%= profile.third_workplace %></li>
                        <li class="li_li">Годы: <%= profile.last_work_date %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-contact<%= profile.id %>" role="tabpanel" aria-labelledby="pills-contact-tab">
              <ul class="ul_ul">
                <li class="li_li">Телефон: <%= profile.telephone%></li>
                <li class="li_li">Почта: <%= profile.user.email %></li>
                <li class="li_li">VК: <%= profile.vk %></li>
                <li class="li_li">Facebook: <%= profile.facebook %></li>
                <li class="li_li">Instagram: <%= profile.instagram %></li>
              </ul>
            </div>
            <div class="tab-pane fade" id="pills-hobby<%= profile.id %>" role="tabpanel" aria-labelledby="pills-hobby-tab">
              <ul class="ul_ul">
                <% unless profile.hobbies.nil?%>
                  <% profile.hobbies.split(",").each do |hobby|%>
                    <li class="li_li"><%= hobby %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="tab-pane fade" id="pills-navik<%= profile.id %>" role="tabpanel" aria-labelledby="pills-navik-tab">
              <div class="row">
                <div class="col-3">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="navk active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Технические </a>
                    <a class="navk" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Культурные </a>
                    <a class="navk" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Научные</a>
                    <a class="navk" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Общие</a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                      <ul class="ul_ul">
                        <li class="li_li"><%= profile.technical_skills%></li>
                        <li class="li_li"><%= profile.cultural_skills%></li>
                        <li class="li_li"><%= profile.scientific_skills%></li>
                        <li class="li_li"><%= profile.general_skills%></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-dostig<%= profile.id %>" role="tabpanel" aria-labelledby="pills-dostig-tab">
              <div class="row">
                <% unless profile.achievement_docs.nil?%>
                  <% @images.each do |image|%>
                  <div class="col-lg-4" style="float: left;">
                    <div class="card">

                        <img src="<%= image %>" class="card-img-top" alt="..." height="200" style="float: left;">

                      <div class="card-footer">
                        <small class="text-muted" style="font-weight: bold; color: #fff;"><%= profile.achievements %></small>
                      </div>
                    </div>

                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-education<%= profile.id %>" role="tabpanel" aria-labelledby="pills-home-tab">
              <ul>
                <li class="li_li">Напрваление:
                  <% case profile.faculty %>
                  <% when "M" %>
                    Математика
                  <% when "P" %>
                    Прикладная информатика
                  <% when "MC" %>
                    Математика и компютерные науки
                  <% when "F" %>
                    Физика и информатика
                  <% end %>
                </li>
                <li class="li_li">Место учебы: <%= profile.study_place %></li>
                <li class="li_li">Учебный год: <%= profile.course_year %></li>
                <li class="li_li">Ссылка на портфолио: <%= profile.portfolio_url %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .modal-content -->
</div>