<aside class="sidebar">
  <nav class="nav scroll">
    <ul class="nav__list">
      <li class="nav__item nav__item_active">
        <a href="<%= root_path %>" class="nav__link">
          <i class="fak fas fa-home" aria-hidden="true"></i><span class="nav__text">Главная</span>
        </a>
      </li>
      <li class="nav__item nav__item_active">
        <a href="<%= info_path %>" class="nav__link">
          <i class="fak fas fa-laptop" aria-hidden="true"></i><span class="nav__text">Прикладная информатика</span>
        </a>
      </li>
      <li class="nav__item nav__item_active">
        <a href="<%= math_path %>" class="nav__link">
          <i class="fak fas fa-infinity" aria-hidden="true"></i><span class="nav__text">Математика</span>
        </a>
      </li>
      <li class="nav__item nav__item_active">
        <a href="<%= physics_path %>" class="nav__link">
          <i class="fak fas fa-atom" aria-hidden="true"></i><span class="nav__text">Физика-Информатика</span>
        </a>
      </li>
      <li class="nav__item nav__item_active">
        <a href="<%= math_cs_path %>" class="nav__link">
          <i class="fak fas fa-code" aria-hidden="true"></i><span class="nav__text">Математика и компютерные науки</span>
        </a>
      </li>
      <!--<li class="nav__item nav__item_active">-->
      <!--<a href="#" class="nav__link">-->
      <!--<i class="fa fas fa-brain" aria-hidden="true"></i><span class="nav__text">Информатика и вычислительная техника</span>-->
      <!--</a>-->
      <!--</li>-->
    </ul>
  </nav>
</aside>
