<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Master Rails" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%# Application CSS & JS and all includes %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%# Meta Data %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Прикладная информатика" %></title>
  </head>
  <body class="stretched sticky-responsive-menu">
  <div class="wrapper">
    <div class="maincontent">
      <header class="header">
        <%# Main  navigation content %>
        <%= render 'layouts/navigation' %>
      </header>
      <main class="main">
        <!--<div class="container_style"></div> -->
        <div class="container">
    <%# Side  navigation content %>
    <%= render 'layouts/side_navigation' %>
    <%# Languages Modal Popup %>
    <%= render 'layouts/languages_modal' %>
    <% if flash[:notice] %>
      <div class="notice alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif flash[:error]%>
      <div class="notice alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%# Main page content %>
    <%= yield %>
    </div>
      </main>
    </div>
  </div>
  <%# Main footer content %>
  <%= render 'layouts/footer' %>
  <%# Authentication modal %>
  <%= render 'users/sessions/new' %>
  <%# Registration modal %>
  <%= render 'users/registrations/new' %>
  <%# Portfolio modal %>
  <%= render 'users/profiles/new', profile: Profile.new %>
  </body>
</html>