

<div class="col-md-8 col-md-offset-2">
    <%= devise_error_messages! %>
</div>

    <div class="form-group row">
      <label for="inputName3" class="col-sm-2 col-form-label">Имя</label>
      <div class="col-sm-10">
        <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', placeholder: 'Иван', :label => false %>
      </div>
    </div>

  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Фамилия</label>
    <div class="col-sm-10">
        <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', placeholder: 'Иванов', :label => false %>
    </div>
    </div>


      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Почта</label>
        <div class="col-sm-10">
           <%= f.input :email, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a email.",  :"data-fv-emailaddress-message"=>"Your email is invalid.", placeholder: 'user@domain.com', :label => false  %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
          <%= f.text_field :username, :class => 'form-control'%>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Подтвердить</label>
        <div class="col-sm-10">
            <%= f.password_field :password_confirmation, :class => 'form-control', :"data-fv-notempty"=>"true" %>
        </div>
      </div>

      <%= f.select :faculty, [["Прикладная информатика", 'P'], ["Математика", 'M'], ["Физика и Информатика", 'F'], ["Математика и компьютерные науки", 'MC']], {include_blank: "Выбрать направление"}, { :class => 'custom-select', :"data-fv-field"=> "user[gender]",:"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Select a gender",  } %>

