<!-- Page Content -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered "  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= t("users.registrations.new.title") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for(resource, :as => resource_name,
                            :url => user_registration_path,
                            :html => { :role => 'form', :class => 'registration'}) do |f| %>
          <%= render 'users/registrations/form', f: f %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <%= f.submit  "Регистрация", :class => 'btn btn-primary '  %>
        </div>
        <% end %>
      </div>
      </div>
    </div>
</div>
